* {
  border: 2px solid #247f9e;
}
/* Only text in bold difers */

p {
  color: green;
}

h1 {
  color: maroon;
}

.title {
  color: teal;
}
.uppercase {text-transform: uppercase;
}
#article-title {font-family: cursive;
}
a:hover { color: #1f91b7;
}
[href*='Jeans to bag'] {
  color: #c491ee;
}
a:hover { color: #09dc53;
}
[href*='This link takes you to shows ways to repurpose old clothes'] {color: #725a81;
}
.heading-background {background-color: #e010cf;}
